<ion-header>
  <ion-toolbar>
    <ion-title>
      Terminos e Instrucciones de Uso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p></p>
      <div style="padding-left: 10px" >
          La idea de esta app es que sirva para dos funciones principales (De momento). En primer lugar tener un registro centralizado de los contactos de cada uno de nuestros compañeros con su telefono y correo corportativo. 
      </div>
      <p></p>
      <div style="padding-left: 10px" >
         En segundo lugar contendrá una librería de archivos que puedan ser de utilidad para el consultar en el dia a dia. Formularios de misión, convenios, reglamentos etc. 
      </div>
      <p></p>
      <div style="padding-left: 10px" >
         En un futuro se implementarán formularios personalizados según la necesidad del proyecto para registrar de forma facil rapida y portatil los diferentes deliverables. 
      </div>
      <p></p>
      <div></div>
            <div>
          <ion-button routerLink="/ejemplo" size="large" expand="block">Ver Ejemplo</ion-button>
      </div>
 


</ion-content>
<div style="padding-bottom: 50px">
    <p style="padding-left:10px">En el siguiente enlace puedes ponerte en contacto conmigo para darme feedback sobre esta app</p>
    <a style="padding-left:80px" href="mailto:fernandiusco@gmail.com?Subject=Mejoras%20App%20Atis" target="_top">Mandame un email</a>
</div>
<div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/tab1">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
